@using  Model.DTO
@model IEnumerable<EventDTO>
@{
    ViewData["Title"] = "ListEvent";
}

<div class="row text-center">
    <div class="col-md-12 col-md-offset-3">
        <div class="col-sm-6 well text-center center-block">
            <div class="col-md-12">
                @if (Model.Any())
                {
                    <p><strong>All Events</strong></p>
                    @foreach (var ev in Model)
                    {
                        <div class="thumbnail">
                            <p><strong>@ev.Title</strong></p>
                            <img src="@ev.ImUrl" width="300" height="300">
                            <p><strong>@ev.Location</strong></p>
                            <p>@ev.DateStarts.ToShortDateString() - @ev.DateEnds.ToShortDateString()</p>

                            <a asp-controller="Events" asp-action="Details" asp-route-id="@ev.Id" class="btn btn-primary">Info</a>
                        </div>
                    }
                }
            </div>
        </div>
        </div></div>

