@using Model.Models
@model EventFormModel
@{
    ViewData["Title"] = "Create Your Event";
}

<link href="~/css/CheckBox.css" rel="stylesheet" />
<link href="~/css/register.css" rel="stylesheet" />
<style>

    body {
        background-image: url("https://images.wallpaperscraft.ru/image/svet_bleklyy_fon_85547_1280x720.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<div class="row text-center">
    <div class="col-md-5 col-md-offset-4">
        <form method="post" class="form-horizontal" enctype="multipart/form-data">
            <h2 class="text-center">@ViewData["Title"]</h2>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label col-sm-3">Title: <span class="text-danger"></span></label>
                <div class="col-md-9 col-sm-10">
                    <div class="input-group">
                        <span  class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                        <input asp-for="Title" class="form-control" >
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Description: <span class="text-danger"></span></label>
                <div class="col-md-9 col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
                        <input asp-for="Description" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Location: <span class="text-danger"></span></label>
                <div class="col-md-9 col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
                        <input asp-for="Location" class="form-control" >
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Photo URL: <span class="text-danger"></span></label>
                <div class="col-md-9 col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-magnet"></i></span>
                        <input asp-for="ImUrl" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Start Date: <span class="text-danger"></span></label>
                <div class="col-md-9 col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        <input asp-for="DateStarts" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">End Date: <span class="text-danger"></span></label>
                <div class="col-md-9 col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        <input asp-for="DateEnds" class="form-control" >
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3"><span class="text-danger"></span></label>
                <div class="col-md-9 col-sm-10">
                    <ul class="ks-cboxtags">
                        @foreach (var item in Model.Categories)
                        {
                            <li>
                                <input name="SelectedCategories" type="checkbox" id="@item.Id" @if (Model.SelectedCategories.Contains(item.Tag)) { <text> checked</text> } value="@item.Tag">
                                <label for="@item.Id">@item.Tag</label>
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <br />
            <button type="submit" class="btn btn-primary">Create/Update</button>
            <a href='javascript:history.go(-1)' class="btn btn-default">Cancel</a>
        </form>
    </div>
    </div>
    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }