@model PersonViewModel
@using FriendsAndTravel.Data.Entities
@using FriendsAndTravel.Extensions
@{
    ViewData["Title"] = "Profile";
}
<form asp-action="Create" asp-controller="Profile" method="post" enctype="multipart/form-data">

    <p>
        <label>Аватар</label>
        <input name="Avatar" type="file" class="form-control" />
    </p>
    <p>
        <input type="submit" value="Добавить" />
    </p>
</form>

@*
        <h3>Все пользователи</h3>
    @foreach (var p in Model)
        {
            <div>
                <h4>@p.UserName</h4>
                @if (p.Avatar != null)
                {
                    <img style='width:80px; height:60px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(p.Avatar))" />
                }
            </div>
        }*@
<img src="@Model.phot.ToRenderablePictureString()" class="img-circle" height="100" width="100" alt="ProfilePicture">
<h2>UserName: @Model.UserName</h2>
<h2>Email: @Model.Email</h2>
<h2>Birthday: @Model.Birthday</h2>
<h2>Phone: @Model.Phone</h2>
@*<h3>Выберите файл для загрузки</h3>
    <form asp-action="AddFile" asp-controller="Home" method="post" enctype="multipart/form-data">
        <input type="file" name="uploadedFile" /><br>
        <input type="submit" value="Загрузить" />
    </form>

    <h3>Все файлы</h3>
    @foreach(var f in Model)
    {
        <p><img src="@Url.Content(f.Path)"></p>
    }*@
